<!DOCTYPE html>
<html>
<head>
    <title>Змінити користувача</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Перейменувати користувача</h1>
     <form action="postUser" method="POST">
        <label>Ім'я</label>
        <input name="name" /><br><br>
        <label>ChatID</label>
        <input name="age" type="ChatID" min="100000000" max="9999999999" /><br><br>
        <input type="submit" value="Надіслати" />
     </form>
     <a href="/users">Назад, до списку користувачів</a>
</body>
<html>